<div class="card border-primary mb-3">
  <div class="card-header">Alumnos</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de alumnos</h5>
    <div class="my-2 text-left">
      <button class="btn btn-rounded btn-primary" type="button" [routerLink]="['/alumnos/form']">Registrar Alumno Nuevo</button>
    </div>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Apellido</th>
          <th>Email</th>
          <th>Fono</th>
          <th>Fecha</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos">
          <td>{{ alumno.id }}</td>
          <td>{{ alumno.nombre }}</td>
          <td>{{ alumno.apellido }}</td>
          <td>{{ alumno.email }}</td>
          <td>{{ alumno.fono }}</td>
          <td>{{ alumno.createAt }}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>